@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:link{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

body{
  font-family: 'Roboto', sans-serif;
}

.google{
  padding: 14px 18px 0 18px;
}

/* header */
.nav__list{
  display: flex;
  justify-content: flex-end;
  height: 32px;
}

.nav__list li{
  display: flex;
  align-items: center;
  
  margin-right: 16px;
}

.nav__list li:nth-child(4){
  margin-right: 0;
}

.nav__list a{
  font-size: 13px;
}

.nav__list .nav__icon a{
  font-size: 0;
}

.nav__list .nav__badge a{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: white;
  background-color: #F91D1D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo{
  display: flex;
  justify-content: center;
  margin-top: 258px;
}

.main-firm form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
}

.main-firm__input{
  width: 100%;
  max-width: 548px;
  border: 1px solid #DFE1E5;
  border-radius: 24px;
  position: relative;
  padding-left: 40px;
  padding-right: 69px;
}

.main-firm__input input{
  width: 100%;
  height: 46px;
  border: none;
  outline: none;

}

.main-firm__input span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #9AA0A6;
}

.main-firm__input span.search{
  left: 15px;

}

.main-firm__input span.mic{
  right: 10px;
}

.main-firm__input span.keyboard {
  right: 44px;
}